<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar"  xmlns:th="http://www.thymeleaf.org/">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
         aria-controls="ui-basic">
        <i class="ti-user menu-icon"></i>
        <span class="menu-title">Personel İşlemleri</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="/staffList">Personel Listesi</a></li>
          <li class="nav-item"><a class="nav-link" href="/addStaff">Personel Ekle</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Mesai Takip</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Talepler</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Danışmanlık Sözleşmesi</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Personel Sözleşmesi</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Sözleşme Arşivi</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false"
         aria-controls="auth">
        <i class="ti-bag menu-icon"></i>
        <span class="menu-title">Müşteri İşlemleri</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="#">Müşteri Listesi</a></li>
          <li class="nav-item"><a class="nav-link" href="/addCustomer">Müşteri Ekle</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Mesai Takip</a></li>
          <li class="nav-item"><a class="nav-link" href="#">asdasdasda</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Faturalar</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Gizlilik Sözleşmesi</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Müşteri Sözleşmesi</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Danışman Sözleşmesi</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Sözleşme Arşivi</a></li>
        </ul>
      </div>
    </li>

  </ul>
      </nav>