<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Businessman Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:replace="_navbar :: navbar"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <div th:replace="_sidebar :: sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Personel Listesi</h4>

                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">
                                                User
                                            </th>
                                            <th style="text-align: center">
                                                Ad Soyad
                                            </th>
                                            <th style="text-align: center">
                                                Sözleşme Türü
                                            </th>
                                            <th style="text-align: center">
                                                Sözleşme Süresi
                                            </th>
                                            <th style="text-align: center">
                                                Kurum
                                            </th>
                                            <th style="text-align: center">
                                                Hizmet Türü
                                            </th>

                                            <th style="text-align: center">
                                                İşe Başlama Tarihi
                                            </th>
                                            <th style="text-align: center">
                                                Düzenle
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <td class="py-1">
                                                <img src="../../images/faces/face1.jpg" alt="image"/>
                                            </td>
                                            <td style="text-align: center">
                                                YASİN NACİR
                                            </td>
                                            <td style="text-align: center">
                                                SSK
                                            </td>
                                            <td style="text-align: center">
                                                3 YIL
                                            </td>
                                            <td style="text-align: center">
                                                TRİUS BİLİŞİM TEKNOLOJİLERİ
                                            </td>
                                            <td style="text-align: center">
                                                YAZILIM GELİŞTİRME
                                            </td>
                                            <td style="text-align: center">
                                                01.01.2015
                                            </td>

                                            <td style="text-align: center">


                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-pencil-alt text-primary"></i>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-trash text-danger"></i>
                                                </button>
                                            </td>
                                            <td style="text-align: center">
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-eye text-primary"> </i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../../images/faces/face1.jpg" alt="image"/>
                                            </td>
                                            <td style="text-align: center">
                                                YASİN NACİR
                                            </td>
                                            <td style="text-align: center">
                                                SSK
                                            </td>
                                            <td style="text-align: center">
                                                3 YIL
                                            </td>
                                            <td style="text-align: center">
                                                TRİUS BİLİŞİM TEKNOLOJİLERİ
                                            </td>
                                            <td style="text-align: center">
                                                YAZILIM GELİŞTİRME
                                            </td>
                                            <td style="text-align: center">
                                                01.01.2015
                                            </td>

                                            <td style="text-align: center">


                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-pencil-alt text-primary"></i>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-trash text-danger"></i>
                                                </button>
                                            </td>
                                            <td style="text-align: center">
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-eye text-primary"> </i>
                                                </button>
                                            </td>
                                        </tr>      <tr>
                                            <td class="py-1">
                                                <img src="../../images/faces/face1.jpg" alt="image"/>
                                            </td>
                                            <td style="text-align: center">
                                                YASİN NACİR
                                            </td>
                                            <td style="text-align: center">
                                                SSK
                                            </td>
                                            <td style="text-align: center">
                                                3 YIL
                                            </td>
                                            <td style="text-align: center">
                                                TRİUS BİLİŞİM TEKNOLOJİLERİ
                                            </td>
                                            <td style="text-align: center">
                                                YAZILIM GELİŞTİRME
                                            </td>
                                            <td style="text-align: center">
                                                01.01.2015
                                            </td>

                                            <td style="text-align: center">


                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-pencil-alt text-primary"></i>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-trash text-danger"></i>
                                                </button>
                                            </td>
                                            <td style="text-align: center">
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-eye text-primary"> </i>
                                                </button>
                                            </td>
                                        </tr>      <tr>
                                            <td class="py-1">
                                                <img src="../../images/faces/face1.jpg" alt="image"/>
                                            </td>
                                            <td style="text-align: center">
                                                YASİN NACİR
                                            </td>
                                            <td style="text-align: center">
                                                SSK
                                            </td>
                                            <td style="text-align: center">
                                                3 YIL
                                            </td>
                                            <td style="text-align: center">
                                                TRİUS BİLİŞİM TEKNOLOJİLERİ
                                            </td>
                                            <td style="text-align: center">
                                                YAZILIM GELİŞTİRME
                                            </td>
                                            <td style="text-align: center">
                                                01.01.2015
                                            </td>

                                            <td style="text-align: center">


                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-pencil-alt text-primary"></i>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-trash text-danger"></i>
                                                </button>
                                            </td>
                                            <td style="text-align: center">
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-eye text-primary"> </i>
                                                </button>
                                            </td>
                                        </tr>      <tr>
                                            <td class="py-1">
                                                <img src="../../images/faces/face1.jpg" alt="image"/>
                                            </td>
                                            <td style="text-align: center">
                                                YASİN NACİR
                                            </td>
                                            <td style="text-align: center">
                                                SSK
                                            </td>
                                            <td style="text-align: center">
                                                3 YIL
                                            </td>
                                            <td style="text-align: center">
                                                TRİUS BİLİŞİM TEKNOLOJİLERİ
                                            </td>
                                            <td style="text-align: center">
                                                YAZILIM GELİŞTİRME
                                            </td>
                                            <td style="text-align: center">
                                                01.01.2015
                                            </td>

                                            <td style="text-align: center">


                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-pencil-alt text-primary"></i>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-trash text-danger"></i>
                                                </button>
                                            </td>
                                            <td style="text-align: center">
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-eye text-primary"> </i>
                                                </button>
                                            </td>
                                        </tr>      <tr>
                                            <td class="py-1">
                                                <img src="../../images/faces/face1.jpg" alt="image"/>
                                            </td>
                                            <td style="text-align: center">
                                                YASİN NACİR
                                            </td>
                                            <td style="text-align: center">
                                                SSK
                                            </td>
                                            <td style="text-align: center">
                                                3 YIL
                                            </td>
                                            <td style="text-align: center">
                                                TRİUS BİLİŞİM TEKNOLOJİLERİ
                                            </td>
                                            <td style="text-align: center">
                                                YAZILIM GELİŞTİRME
                                            </td>
                                            <td style="text-align: center">
                                                01.01.2015
                                            </td>

                                            <td style="text-align: center">


                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-pencil-alt text-primary"></i>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-trash text-danger"></i>
                                                </button>
                                            </td>
                                            <td style="text-align: center">
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon">
                                                    <i class="ti-eye text-primary"> </i>
                                                </button>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <div th:replace="_footer :: footer"></div>
            <!-- partial -->
        </div>
        <!-- page-body-wrapper ends -->

        <!-- main-panel ends -->

    </div>

</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/template.js"></script>
<script src="js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>

